<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
<a class="skip-link" href="#main">Skip to content</a>
<div class="container">
{% include header.html %}
{% include drawer.html %}
<main id="main" tabindex="-1">
{{ content }}
</main>
{% include footer.html %}
</div>
<script src="/js/site-nav.js?v=20260528-2" defer></script>
<script src="/js/header-autohide.js?v=20260525-2" defer></script>
<script src="/js/essays-data.js" defer></script>
{% if page.layout == "post" %}
{% if page.series == "on-series" %}
<script src="/js/series-nav.js" defer></script>
{% elsif page.series == "fragments" %}
<script src="/js/fragments-nav.js" defer></script>
{% endif %}
<script src="/js/more-essays.js?v=20260610-1" defer></script>
{% endif %}
{% if page.layout == "home" %}
{% include home-scripts.html %}
{% endif %}
</body></html>
