<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body>
<div class="corridor-vline corridor-vline--left" aria-hidden="true"></div>
<div class="corridor-vline corridor-vline--right" aria-hidden="true"></div>
<div class="mobile-corridor mobile-corridor--left" aria-hidden="true"></div>
<div class="mobile-corridor mobile-corridor--right" aria-hidden="true"></div>
<div class="container">
{% include header.html %}
{% include drawer.html %}
{{ content }}
{% include footer.html %}
</div>
<script src="/js/site-nav.js" defer></script>
<script src="/js/essays-data.js" defer></script>
<script src="/js/drawer-essays.js" defer></script>
{% if page.layout == "post" %}
{% if page.series == "on-series" %}
<script src="/js/series-nav.js" defer></script>
{% elsif page.series == "fragments" %}
<script src="/js/fragments-nav.js" defer></script>
{% endif %}
<script src="/js/more-essays.js" defer></script>
{% endif %}
{% if page.layout == "home" %}
{% include home-scripts.html %}
{% endif %}
</body></html>
